@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:ital,wght@0,200;1,200&family=Martel:wght@200&family=Montserrat:wght@200&family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap');
*{
  box-sizing: border-box;
}
body{
  max-width: 978px;
  margin: 0;
  padding: 0;

}
header{
  background-image: url(./background.jpg);
  background-repeat: no-repeat;
  height: 110vh;
  width: 1400px;
  /* margin: 0;
  padding: 0;  */
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 15px;
  font-family: 'Open Sans';  
  font-size: 14px;
}
.logo{
  color: white;
  font-size: 24px;
  margin-right: 20%;
  margin-left: 5%;
  font-family: 'Martel';
}
nav ul li{
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px; 
}
nav ul li a{
  color: white;
  text-decoration: none;
  font-weight: bold;
}
button{
  border: none;
  background: #FFFFFF;
}
.content{
  width: 999px;
  height: auto;
  margin: auto;
  color: #FFFFFF;
}
.content .par{
  font-family: 'Montserrat';
  line-height: 30px;
  font-size: 20px; 
  width: 930px;
}
.content h2{
  padding-top: 150px;
  font-size: 58px;
}
.bth{
  padding: 10px 36px;
  color: white;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  border-radius: 30px;
  border: 2px solid white;
  text-align: center;
  margin-right: 20px;


  background: rgba(0, 0, 0, 0.1);
}
.bth.cn{
  background: #D0A144;
border-radius: 37px;
}